MAX_BOT = 10
DEVS = 8565893997
API_ID = 32114612
API_HASH = dc1896f06cb7b2a3253198f5b4fd9baf
BOT_TOKEN = 
OWNER_ID = 8565893997
BLACKLIST_CHAT = 
RMBG_API = 
LOCAL_DB_PATH = storage/aunuhost_local.db
LOGS_MAKER_UBOT = -3867220417
USER_GROUP = https://t.me/AunuHostv
